# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
venv/
.envrc
.costopt.db

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Reports
*.pdf
*.csv

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat.pid
